<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>
    </title>
    <!-- cross site request forgery proc -->
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="container">
      <header>
        <%= logo %>
        <nav class="nav">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Sign In", "#" %></li>
          </ul>
        </nav>
      </header>
      <section class="round">
        <!-- Flash Messahges can
        style the falsh message according to value now-->
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>">
           <%= value %>
          </div>
        <% end %>
        <!-- allows input of content -->
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
  
</html>