<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>
    </title>
    <!-- cross site request forgery proc -->
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="container">
      <header>
        <%= image_tag("Micasa.png", :alt => "Micasa Exchange", :class => "round") %>
        <nav class="nav">
          <ul>
            <li><%= link_to "Home", "#" %></li>
            <li><%= link_to "About", "#" %></li>
            <li><%= link_to "Contact", "#" %></li>
            <li><%= link_to "Sign In", "#" %></li>
          </ul>
        </nav>
      </header>
      <section class="round">
        <!-- allows input of content -->
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
  
</html>